body {
    background-color: mistyrose;    
}
p {
    color: black;
    font-family: 'Courier New';
}
.container {
    position: relative;
    width: 50%;
  }
.image {
    display: block;
    width: 50%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;    
    opacity: 0;
    transition: .5s ease;
    background-color: lightblue;
}
.container:hover .overlay {
    opacity: 0.9;
}
.text {
    color: black;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
